body {
  margin: 0;
}

.header {
  height: 90px;
  line-height: 90px;
  width: 100%;
  background-color: #26d0c9;
  color: white; 
}

.header-logo {
  float: left;
  padding: 0 30px;
  font-size: 35px;
  margin-right: 25px;

}

li {
  list-style: none;
}

.header-list li {  
  float: left;  
  font-size: 16px;
  padding-right: 35px;
}

.header-list ul {
  margin: 0;
}

.main {
  padding: 100px 80px;
}

.top-wrapper h1{
  font-size: 140px;
  margin: 0;
}

.top-wrapper span {
  color: red;
}

.top-wrapper p {
  margin: 0 0 100px 0;
  font-size: 60px;
  font-weight: bold;
}

.lesson-wrapper {
  height: 500px;
  margin-bottom: 100px;
}

.section-title {
  font-size: 28px;
  border-bottom: 2px solid #dee7ec;
  padding-bottom: 18px;
  margin-bottom: 50px;
}

.lessons {
  float: left;
  padding-right: 40px;
}

.lesson-text p {
  font-size: 24px;
  margin-bottom: 0;
}

.contact-form p {
  margin: 0;
  padding-bottom: 10px;
}

input,textarea {
  width: 400px;
  height: 30px;
  padding: 20px;
  font-size: 18px;
  margin-bottom: 30px;
  border: 1px solid #dee7ec;
  
}

button {
  width: 400px;
  height: 70px;
  border: none;
  background-color: #dee7ec;
  color: #889eab;
  font-size: 18px;
}

.footer {
  background-color: #2f5167;
  height: 200px;
  color: white;
}

.footer-logo {
  float: left;
  font-size: 32px;
  padding: 40px;
}

.footer-list {
  float: right;
  padding: 24px 40px 0 0;
}

.footer-list li {
  padding-bottom: 20px;
}
